@using Microsoft.AspNetCore.Identity
@model IEnumerable<SayItWebsiteNet5.Models.Project>
@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "MyProjects";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="GetProject" asp-route-id="@item.Id.ToString()"> @Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                        @if (User?.Identity.IsAuthenticated ?? false)
                        {
                            <a class="btn btn-primary" asp-action="UnSubscribeProject" asp-route-id="@item.Id">Afmeld</a>
                        }
                        else
                        {
                            <div>
                                <span>Log på for tilmelde</span>
                                <button type="button" onclick="location.href='@Url.Action("Login","Account")'"> Login</button>

                            </div>
                        }
                        @if (User?.Identity.IsAuthenticated ?? false)
                        {
                            @if (User.IsInRole("Admin") || item.Owner._Id.ToString() == _userManager.GetUserId(User))
                            {
                                <span class="text-danger"> @Html.ValidationMessage("DeleteProjectError") </span>
                                <button class="btn btn-primary" type="submit" value="@item.Id" onclick="myFunction(this)">Slet</button>

                            }
                        }
            </td>
        </tr>
}
    </tbody>
</table>

